<!doctype html>
<head>
  <link rel="stylesheet" href="/wwwroot/css/bootstrap.min.css" />
</head>
<body>
  <div>
    <div>
      <p>MOUSE {{.Foo}}</p>
    </div>
    <div>
      <form action="/gene" method="GET">
        <select id="select">
          {{range .Example}}
            <option>{{.Title}}</option>
          {{end}}
        </select><br/><br/>
        <input type="text" id="input01" >
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
  <script src="/wwwroot/js/bootstrap.bundle.min.js"></script>
</body>