<!doctype html>
<head>
  <link rel="stylesheet" href="/wwwroot/css/bootstrap.min.css" />
</head>
<body>
  <div>
    <div>
      <p>MOUSE</p>
    </div>
    <div>
      <form action="/gene" method="GET">
        <select>
          <option>1</option>
          <option>2</option>
        </select><br/><br/>
        <input type="text" id="input01" >
      </form>
    </div>
  </div>
  <div>
    {{.Foo}}
  </div>
  <script src="/wwwroot/js/bootstrap.bundle.min.js"></script>
</body>